In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('store_transaction', timeout = 10)
cursor_obj = conn.cursor()
command_1 = 'create table IF NOT EXISTS store(transaction_id INTEGER PRIMARY KEY, first_name VARCHAR(15), last_name VARCHAR(15))'
cursor_obj.execute(command_1)
conn.commit()

cursor_obj.execute("INSERT INTO store VALUES(23, 'Philip', 'Afriyie')")
cursor_obj.execute('SELECT* FROM store')
results = cursor_obj.fetchall()
print(results)

In [16]:
df = pd.DataFrame(results, columns = ['transaction_id', 'first_name', 'last_name'])
df

   transaction_id first_name last_name
0              23    Afriyie    Philip

In [11]:
conn.close()