In [38]:
import pandas as pd
df=pd.read_csv('/Users/User/Downloads/Data_analysis/Iris.csv')
import matplotlib.pyplot as plt
print(df.head())
df.info()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [14]:
#Filtering by Grouping
df[df['Species']=='Iris-setosa'].head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
df[df['Species']=='Iris-setosa']['PetalLengthCm'].head()

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: PetalLengthCm, dtype: float64

In [21]:
df[df['Species']=='Iris-virginica']['PetalLengthCm'].head()

100    6.0
101    5.1
102    5.9
103    5.6
104    5.8
Name: PetalLengthCm, dtype: float64

In [57]:
#Statistics(Grouping)
print(('mean',df[df['Species']=='Iris-setosa']['PetalLengthCm'].mean()))
print(('median',df[df['Species']=='Iris-virginica']['PetalLengthCm'].median()))
print(('std',df[df['Species']=='Iris-virginica']['PetalLengthCm'].std()))
print(('max',df[df['Species']=='Iris-virginica']['PetalLengthCm'].max()))
print(('min',df[df['Species']=='Iris-virginica']['PetalLengthCm'].min()))

('mean', 1.464)
('median', 5.55)
('std', 0.5518946956639835)
('max', 6.9)
('min', 4.5)

In [58]:
#By using groupy
df.groupby('Species')['PetalLengthCm'].mean()

Species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: PetalLengthCm, dtype: float64

In [62]:
df.groupby('Species')['PetalLengthCm'].max()

Species
Iris-setosa        1.9
Iris-versicolor    5.1
Iris-virginica     6.9
Name: PetalLengthCm, dtype: float64

In [64]:
#For multiple column
df.groupby('Species')[['PetalLengthCm','SepalWidthCm']].mean()

                 PetalLengthCm  SepalWidthCm
Species
Iris-setosa              1.464         3.418
Iris-versicolor          4.260         2.770
Iris-virginica           5.552         2.974

In [72]:
#By using aggregate 
df.groupby('Species')[['SepalWidthCm','PetalLengthCm']].agg('max')

                 SepalWidthCm  PetalLengthCm
Species
Iris-setosa               4.4            1.9
Iris-versicolor           3.4            5.1
Iris-virginica            3.8            6.9

In [73]:
#for multiple aggragates 
df.groupby('Species')['PetalLengthCm'].agg(['mean','std','max','median'])

                  mean       std  max  median
Species
Iris-setosa      1.464  0.173511  1.9    1.50
Iris-versicolor  4.260  0.469911  5.1    4.35
Iris-virginica   5.552  0.551895  6.9    5.55

In [74]:
#You can use describe for multiple aggregates 
df.groupby('Species')['PetalLengthCm'].describe()

                 count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [75]:
#Transposing cell 74
df.groupby('Species')['PetalLengthCm'].describe().T

Species  Iris-setosa  Iris-versicolor  Iris-virginica
count      50.000000        50.000000       50.000000
mean        1.464000         4.260000        5.552000
std         0.173511         0.469911        0.551895
min         1.000000         3.000000        4.500000
25%         1.400000         4.000000        5.100000
50%         1.500000         4.350000        5.550000
75%         1.575000         4.600000        5.875000
max         1.900000         5.100000        6.900000