In [42]:
#Student performance statistics 

import pandas as pd
df=pd.read_csv('/Users/User/Downloads/Data_analysis/Student_performance_data _.csv')
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [43]:
#Checking for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [47]:
#Columns of Interest
df_Col=df.loc[:,['Age','Gender','StudyTimeWeekly','GPA','GradeClass']]
df_Col

      Age  Gender  StudyTimeWeekly       GPA  GradeClass
0      17       1        19.833723  2.929196         2.0
1      18       0        15.408756  3.042915         1.0
2      15       0         4.210570  0.112602         4.0
3      17       1        10.028829  2.054218         3.0
4      17       1         4.672495  1.288061         4.0
...   ...     ...              ...       ...         ...
2387   18       1        10.680555  3.455509         0.0
2388   17       0         7.583217  3.279150         4.0
2389   16       1         6.805500  1.142333         2.0
2390   16       1        12.416653  1.803297         1.0
2391   16       1        17.819907  2.140014         1.0

[2392 rows x 5 columns]

In [49]:
#Statistics
df_Col.describe()

               Age       Gender  StudyTimeWeekly          GPA   GradeClass
count  2392.000000  2392.000000      2392.000000  2392.000000  2392.000000
mean     16.468645     0.510870         9.771992     1.906186     2.983696
std       1.123798     0.499986         5.652774     0.915156     1.233908
min      15.000000     0.000000         0.001057     0.000000     0.000000
25%      15.000000     0.000000         5.043079     1.174803     2.000000
50%      16.000000     1.000000         9.705363     1.893393     4.000000
75%      17.000000     1.000000        14.408410     2.622216     4.000000
max      18.000000     1.000000        19.978094     4.000000     4.000000

In [75]:
#Statistics by coding 
df_Col.Age.agg(['mean','median','std','count'])

mean        16.468645
median      16.000000
std          1.123798
count     2392.000000
Name: Age, dtype: float64

In [57]:
#Statistics by grouping
Kid=df_Col[df_Col.Age<16]
Teen=df_Col[(df_Col.Age>=16)&(df_Col.Age<18)]
Adult=df_Col[df_Col.Age>=18]
age_group=[Kid,Teen,Adult]
for group in age_group:
    stats=group.agg(['mean','median','std','average','count'])
    print(stats)

           Age      Gender  StudyTimeWeekly         GPA  GradeClass
mean      15.0    0.463492         9.837934    1.898509    2.996825
median    15.0    0.000000         9.744839    1.893825    4.000000
std        0.0    0.499062         5.619763    0.919586    1.227658
average   15.0    0.463492         9.837934    1.898509    2.996825
count    630.0  630.000000       630.000000  630.000000  630.000000
                 Age       Gender  StudyTimeWeekly          GPA   GradeClass
mean       16.497458     0.529661         9.713599     1.917232     2.981356
median     16.000000     1.000000         9.653180     1.926736     3.000000
std         0.500206     0.499331         5.644022     0.915290     1.228579
average    16.497458     0.529661         9.713599     1.917232     2.981356
count    1180.000000  1180.000000      1180.000000  1180.000000  1180.000000
           Age      Gender  StudyTimeWeekly         GPA  GradeClass
mean      18.0    0.524055         9.819003    1.892101    2.974227
median    18.0    1.000000         9.659339    1.795152    4.000000
std        0.0    0.499851         5.714325    0.911363    1.253301
average   18.0    0.524055         9.819003    1.892101    2.974227
count    582.0  582.000000       582.000000  582.000000  582.000000

In [76]:
#Using dictionaries
age_group={'Kid':Kid,'Teen':Teen,'Adult':Adult}
for name, group in age_group.items():
    stat=group.GPA.agg(['mean','median','std','average','count'])
    print(name)
    print(stat)

Kid
mean         1.898509
median       1.893825
std          0.919586
average      1.898509
count      630.000000
Name: GPA, dtype: float64
Teen
mean          1.917232
median        1.926736
std           0.915290
average       1.917232
count      1180.000000
Name: GPA, dtype: float64
Adult
mean         1.892101
median       1.795152
std          0.911363
average      1.892101
count      582.000000
Name: GPA, dtype: float64

In [67]:
#Doing it individually 
#GPA
df_Kid=Kid.GPA.mean()
df_Kid

1.8985087248042185

In [68]:
df_Teen=Teen.GPA.mean()
df_Teen

1.9172323477644013

In [64]:
df_Adult=Adult.GPA.mean()

In [69]:
df_Adult

1.8921013215347662

In [80]:
#Number of Kids who had 3 GPA and above 
group=age_group['Kid']
(group.GPA>=3).sum()

84

In [83]:
#Percentage of kids who had 3.0 and above 
group_size=group.GPA.count()
n_over_3 = (group.GPA>=3).sum()
per_3 = (group.GPA>=3).sum()/group.GPA.count()
per_3

0.13333333333333333

In [86]:
#Number of Teens who had 3 GPA and above 
group=age_group['Teen']
(group.GPA>=3).sum()

155

In [90]:

number_over_3=(group.GPA>=3).sum()
group_size_2= group.GPA.count()
per_3_Teen =(group.GPA>=3).sum()/group.GPA.count()
per_3_Teen

0.13135593220338984

In [91]:
group=age_group['Adult']
(group.GPA>=3).sum()

82

In [92]:
#Using percentage_at_atleast
n_over_Teen_3=(group.GPA>=3).sum()
group_size_2=group.GPA.count()
per_3_Adult=(group.GPA>=3).sum()/group.GPA.count()
per_3_Adult

0.140893470790378

In [131]:
def percentage_at_least(group,value):
    n_over_3 = (group['GPA']>=value).sum()
    group_size = group['GPA'].count()
    perc_over_3 =  n_over_3/group_size
    return perc_over_3

In [133]:
percentage_at_least (age_group['Kid'],3)

0.13333333333333333

In [134]:
percentage_at_least (age_group['Teen'],3)

0.13135593220338984

In [135]:
percentage_at_least (age_group['Adult'],3)

0.140893470790378